body{
    background-color: #04a6eb;
    color: #fdffff;              /*文字色*/
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 5px 20px;             /*詰め物→内側の余白(縦と横のサイズ) */
    background-color: #337ab7;
    color: #fdffff;
    border-style: none;            /*境界線 */
}

input{
    height: 24px;
}
